$sidebar-width: 100px;
$header-height: 50px;
$sidebar-icon-size: 30px;
$inline-horizonal-spacing: 0.5em;
$form-group-margin-bottom: 15px;

$brand-primary: #2471c2;
$brand-info: #192133;
$body-bg: #E9F0F5;
$link-hover-decoration: none;
$font-family-sans-serif: 'Lato', Helvetica, Arial, sans-serif;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$btn-default-color: $brand-primary;
$dropdown-link-color: $brand-primary;
$dropdown-link-hover-color: darken($brand-primary, 5%);

$input-group-addon-bg: $brand-primary;
$input-group-addon-color: white;