.tw-5 {
	width: 5%;
}

.tw-8 {
	width: 8%;
}

.tw-10 {
	width: 10%;
}

.tw-12 {
	width: 12%;
}

.tw-15 {
	width: 15%;
}

.tw-16 {
	width: 16%;
}

.tw-17 {
	width: 17%;
}

.tw-18 {
	width: 18%;
}

.tw-20 {
	width: 20%;
}

.tw-21 {
	width: 21%;
}

.tw-22 {
	width: 22%;
}

.tw-25 {
	width: 25%;
}

.tw-30 {
	width: 30%;
}

.tw-32 {
	width: 32%;
}

.tw-33 {
	width: 33.33%;
}

.tw-35 {
	width: 35%;
}

.tw-40 {
	width: 40%;
}

.tw-50 {
	width: 50%;
}

.tw-70 {
	width: 70%;
}