/tmp
/build
/server.js
/api/config.js
/src/config.js
/node_modules
/TODO.md

/public/css/main*.css
/public/css/app*.css
/public/css/*.map
/public/js/dist/*

/public/assets/*

/server.js.map

/public/bower_components
/.idea
/.cache-loader
