extends ./layout.pug

//- optional (PACE loader)
block pace-loader
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
  link(rel='stylesheet', href='/css/pace.css')
  link(rel='stylesheet', href='/css/developer.css')
  link(rel='stylesheet', href='/css/front-dashboard.css')
  script(type='text/javascript', src='/bower_components/PACE/pace.min.js')
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeqVLF53tO1_iTWVJT1ud9FgdGl1-71L4&libraries=places")

block header
  != app_stylesheets

block content
  div#app-container!= content
  //- blueimp-gallery snippet (optional)
  div#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    div.slides
    h3.title
    p.description
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

block scripts
  != app_scripts

block stylesheets
