doctype html
html.default(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title Wikicare

    //- seo
    meta(name='application-name', content='Wikicare')
    meta(name='author', content='Wikicare, info@wikicare.co')
    meta(name='description', content='Wikicare')
    meta(name='keywords', content='Wikicare')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- favicon
    link(rel='apple-touch-icon', sizes='32x32', href='/favicons/favicon-32x32.png')
    meta(name='apple-mobile-web-app-title', content='Rubix')
    link(rel='icon', type='image/png', href='/favicons/favicon-32x32.png', sizes='32x32')

    link(rel='stylesheet', href='/css/react-select.css')
    link(rel='stylesheet', href='/css/autocomplete.css')
    meta(name='msapplication-TileColor', content='#E76049')
    meta(name='msapplication-TileImage', content='/favicons/mstile-144x144.png')

    block pace-loader
    block header
  body.pace-big(data-version='4.0.0')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
    block stylesheets
