html.default body #sidebar #avatar,
html.default body #rubix-nav-header .navbar-nav > li.logout > a,
body .bg-green{
  background: #34bfd2 !important;
}

html.default body #sidebar #avatar div[class*="col-"]{
  padding: 0;
  text-align: center;
}

html.default body .sidebar-nav > li.active,
html.default body .header-menu > ul.dropdown-menu,
html.default input.form-control:focus,
html.default textarea.form-control:focus,
html.default select.form-control:focus{
  border-color: #34bfd2 !important;
}

html.default .dropdown-menu .active > a{
  background: #34bfd2 !important;
}


html.default .dropdown-menu .active > a:hover, html.default .dropdown-menu .active > a:focus{
  background: #585858 !important;
}

html.default body .header-menu > .dropdown-menu:after{
  border-bottom-color: #34bfd2 !important;
}


.btn-default.btn-outlined.btn-inverse:hover, .btn-default.btn-outlined.btn-inverse:focus, .btn-default.btn-outlined.btn-inverse.active{
  color: #585858 !important;
}

html.default body #footer{
  background: #273135 !important;
}

html.default body #rubix-nav-header{
  background: #fff !important;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.main-header{
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

html.default body #rubix-nav-header .navbar-nav > li.active > a:hover, html.default body #rubix-nav-header .navbar-nav > li > a:hover,
html.default body #rubix-nav-header .navbar-nav > li.dropdown.open > a{
  color: #34bfd2 !important;
}

html.default body #rubix-nav-header .navbar-nav > li.logout > a:hover{
  color: #fff !important;
  background: #273135 !important;
}

.btn-lightgreen.btn-outlined{
  border-color: #34bfd2 !important;
  color: #34bfd2 !important;
}

.btn-lightgreen:focus, .btn-lightgreen.focus, .btn-lightgreen:hover, .btn-lightgreen.active{
  border-color: #34bfd2 !important;
  background: #34bfd2 !important;
  color: #fff !important;
}

html.default .fg-brown{
  color: #273135;
}

html.default .fg-brown:hover,
html.default .fg-brown:focus{
  color: #34bfd2;
}

.nav-tabs > li.active > a, .nav-tabs > rubix-menu > li.active > a, .nav-tabs > rubix-nav-item > li.active > a{
  background: #34bfd2 !important;
  color: #fff !important;
  border-bottom: 2px solid #30a3b3 !important;
}

.nav > li.disabled > a, .nav > rubix-nav-item > li.disabled > a, .nav > rubix-menu > li.disabled > a{
  color: rgba(39, 49, 53, 0.5) !important;
}

.dropdown-header{
  background: #34bfd2 !important;
  color: #fff !important;
}

html.default body #rubix-nav-header .navbar-nav > li.logout > a{
  font-size: 24px !important;
}

body .login-page{
  background: #fff !important;
  padding: 30px !important;
  box-shadow: 0px 26px 15px -20px rgba(0,0,0,0.2);
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

body .login-page input:not([type="submit"]),
html.default body .login-page select{
  border-bottom: 1px solid #333333;
  padding: 0;
  font-size: 18px;
}

body .login-page input:not([type="submit"]):focus,
html.default body .login-page select:focus{
  border-bottom: 1px solid #333333;
}

body .login-page .btn{
  max-width: 210px;
  border-radius: 50px;
  background: #34bfd2;
  font-weight: 400;
}

body .login-page .btn:hover{
  background: #585858;
}

body .loginContent{
  text-align: left;
}
body .loginContent h2{
  font-size: 32px;
  line-height: 50px;
  color: #34bfd2;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}

body a.forgotpass{
  color: #333 !important;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

body .loginContent  a.forgotpass{
  float: right;
  margin-top: 15px;
  cursor: pointer;
}

body a.forgotpass::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 1px;
  background: #34bfd2;
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

body a.forgotpass:hover{
  color: #34bfd2 !important;
}

body a.forgotpass:hover::before{
  width: 100%;
}

body .main-header{
  padding: 0;
}

.main-header .front-container{
  width: 100%;
}

.main-header .front-container .logo{
  max-width: 300px;
  background: #34bfd2;
  text-align: center;
  margin-left: -15px;
  padding: 10px;
}

body .main-menu{
  padding-top: 30px;
}

.ld-wrapper .nav-tabs li{
  width: 50%;
}

.ld-wrapper .nav-tabs li a{
  font-size: 22px;
  font-weight: 700;
}

.ld-wrapper .checkbox-inline{
  padding-left: 30px;
  position: relative;
}

.ld-wrapper .checkbox-inline .icon-holder{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  border: 1px solid #333333;
  background: #fff;
  width: 20px;
  height: 20px;
}

.ld-wrapper .checkbox-inline .icon-holder::before{
  content: "\f00c";
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 14px;
  left: 50%;
  opacity: 0;
  color: #34bfd2;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;

}
.ld-wrapper .checkbox-inline {
  color: #333333;
}
.ld-wrapper .checkbox-inline input[type="checkbox"]{
  display: none;
}

.ld-wrapper .checkbox-inline input[type="checkbox"]:checked + .icon-holder::before{
  opacity: 1;
}
.form-group .Select-menu-outer {
  position: absolute;
}
.overflow-visible .rubix-panel-container {
    overflow: visible;
}
/*.black-wrapper table tr td{
  border-top: none
  ;
}
.black-wrapper table {
  height:100%;
}
.gallery-1:hover .black-wrapper  {
  display: block;
   
}
.black-wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background: rgba(0,0,0 .5);
}*/

.gallery-item .black-wrapper {
    top: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.gallery-item-link:hover .black-wrapper, .gallery-item-link:focus .black-wrapper {
    opacity: 1;
    background: rgba(0,0,0,0.5);
}
.gallery-item .black-wrapper td {
    vertical-align: middle;
}

/*-------------------- Online Consult CSS--------------*/
.btn-toggle.btn-lg {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
  background-color: #34bfd2 !important;
}
.btn-toggle.active > .handle {
  left: 2.8125rem;
  transition: left .25s;
}
.btn-toggle.active:before {
  opacity: .5;
}
.btn-toggle.active:after {
  opacity: 1;
}

.freeqa-list .panel-title > a {
  height: auto;
  cursor: pointer;
}

.freeqa-list .panel-title > a:hover {
  color: #333
}

.freeqa-list .fqa-btn-active {
  background: #34bfd2;
  border-color: #34bfd2;
}

.freeqa-list .fqa-btn-active:hover, .freeqa-list .fqa-btn-active:focus {
  background: #34bfd2;
  border-color: #34bfd2;
}

.freeqa-list .fqa-list-top {
  margin-bottom: 10px
}

.freeqa-list .panel-group .panel-default > .panel-heading {
  background: #ddd;
  color: #333;
}

.fqa-report-about {
  margin: 10px 0 !important;
}

.fqa-report-about > div {
  padding: 0 !important;
}
.freeqa-list .panel-group .panel.panel-default{
  border: 1px solid #ddd;
}
.fqa-question a {
  line-height: 0 !important;
}
.fqa-question .icon-title{
  display: inline-block;
  width: 100%;
  line-height: 25px;
}
.fqa-question .icon-title .icon-fqa, .fqa-question .icon-title .title {
  float: left;
  margin: 10px;
}
.fqa-question .question-desc{
  line-height: 25px;
}
.fqa-question .icon-title .date{
  float: right;
  margin: 10px;
  font-weight: 100;
  font-size: 14px;
}

.fqa-question .icon-title .title span{
  font-size: 16px;
  font-weight: 100;
}

html.default .pagination > .active > a {
  background: #34bfd2 !important;
}
.panel-oc-setting .panel-heading {
  background: #ddd !important;
}

.oc-getstart-box {
  padding: 50px 100px !important;
}
.oc-getstart-box .container-fluid {
  border: 1px solid #ddd;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f5f5f5;
}
.oc-getstart-box img {
  width: 80px;
}
.oc-getstart-box .col-xs-9 {
  padding-top: 20px;
}
.oc-getstart-box hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}
.panel-oc-setting.panel.panel-default {
  border: 1px solid #ddd;
}
.panel-oc-setting .panel-heading{
  color: #333 !important;
}

.panel-oc-setting .title {
  font-size: 20px;
  color: #333;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.panel-oc-setting label {
  color: #89949B;
  padding: 5px;
}

.panel-oc-setting .field{
  margin: 10px 0;
}

.answer-box {
  border: 1px solid #ddd;
  margin: 0 !important;
  margin-top: 25px !important;
}
.answer-box .doctor-info {
  padding: 20px;
  background: #ddd;
  color: #333;
}
.answer-box .doctor-info img {
    border-radius: 50px;
    width: 60px;
}

.answer-box .answer{
  margin-top: 25px !important;
}
/*-------------------- Online Consult CSS END--------------*/

#suggestion-popover {
  min-width: 500px;
}

.patient-detail .row {
  margin: 10px 0;
}

.divhide { display: none; }
.divshow { display: block; }