html.default body #sidebar ~ #body{
  background: url(../imgs/front/login-bg.jpg);
  background-repeat: repeat;
}

body .panel-body{
  padding-left: 0px;
  padding-right: 0px;
}

body .panel-group .panel-heading + .panel-collapse > .panel-body{
  border: none;
}

body .panel-default > .panel-heading{ 
  background: #34bfd2;
  color: #fff;
  border-radius: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

body .panel-title > a{
  font-size: 20px;
  font-weight: 600;
}

body .panel-title > a:hover{
  color: #fff;
}

body .panel-default{
  border: none;
}

.panel-body h3{
  font-size: 20px;
  font-weight: 400;
  color: #34bfd2;
  text-transform: uppercase;
}

body label{
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

body .form-control{
  border-width: 1px;
  border-color: #c4c4c4 !important;
  height: 40px;
}

body select{
  background-image: url(../imgs/front/down-carret.png) !important;
  background-position: 95%;
  background-repeat: no-repeat;
}

body label small{
  display: block;
}

.profile-img-holder{
  border: 2px dashed #b4b4b4;
  padding: 10px;
}

.profile-img-wrapper{
  position: relative;
}

.profile-img-wrapper .upload-img{
  width: 95%;
  background: rgba(255,255,255,0.95);
  bottom: 12px;
  position: absolute;
  left: 50%;
  padding: 15px;
  line-height: 0;
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.0);
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.profile-img-wrapper .upload-img:hover{
  background: rgba(255,255,255,1);
  box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
  color: #89949B;
}

.panel-body .about-me{
  height: 106px;
  resize: none;
}
.customRadio{
  position: relative !important;
  padding-left: 30px !important;
}

.customRadio .icon-holder{
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
}

.customRadio .icon-holder::before{
  content: "";
  width: 10px;
  height: 10px;
  background: #34bfd2;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.customRadio input[type="radio"]{
  display: none;
}

.customRadio input[type="radio"]:checked + .icon-holder::before{
  opacity: 1;
}

body .radio-inline + .radio-inline, body .checkbox-inline + .checkbox-inline{
  margin-left: 15px;
}
.front-dash-theme .tab-content {
    padding: 20px 0;
}
#doc-info-tab1.nav-width .img-thumbnail {
  margin: 8px;
}
.front-dash-theme #doc-info-tab1-pane-4 .btn-info {
  margin: 0 5px;
}
.front-dash-theme #doc-info-tab1-pane-5 ul li {
  list-style: inside;
}
.front-dash-theme #doc-info-tab1-pane-5 h3{
  color: #34bfd2;
}
.front-dash-theme .separator-border {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


/**************************Media Query******************************
********************************************************************/
