.clear{clear:both;}
.input{border:1px solid #ccc; padding:2px }
.page-break,.print-only{display:none;}
.point{cursor:pointer;}
.f_left{float:left;}
.f_right{float:right;}
.aligncenter{text-align:center;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.relative{position:relative;}
a img{border:0;}
a:focus{ outline:0px;}

.pt-50 {
  padding-top: 50px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

img {
    border: 0px;
    max-width: 100%;
    height: auto;
}

.front-container{
  width: 1170px;
}

.front-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity:1;
  color:#333
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  opacity:1;color:#333
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  opacity:1;color:#333
}
.form-control:-moz-placeholder { /* Firefox 18- */
  opacity:1;color:#333
}
select:focus::-ms-value {background:transparent; color: #000}

.pt-50{padding-top: 50px;}

/*Global*/
*{ margin:0; padding:0;}
body{ font-size:14px;font-family: 'Lato', sans-serif; color:#666666; background:#fff}
a,a:hover{text-decoration: none;}
h2{ font-size:50px;font-weight:bold; line-height:100%; margin-bottom:35px}

.blue { background: #1b71c2 !important;}
.pink { background: #ea414d !important;}

/*==========header===*/
.main-wrapper{  margin: 0 auto;overflow: hidden;position: relative;width: 100%;}
.main-header{ padding: 15px 0; position: relative;background:#fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.topfix {
  position: fixed;
  top: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
  z-index: 999;
  width: 100%;
  clear: both;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.12);
  /*transition: all 0.5s ease-in-out 0.5s;*/
  animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.main-menu{ padding-top: 23px;}
.main-menu li{ list-style: none; display: inline-block;}
.main-menu li:last-child{ margin-right: 0;}
.main-menu li a{ color: #333; font-size: 17px; font-weight: bold; transition: all ease-in-out .1s; text-transform: uppercase; display: block;padding: 10px 12px; background: #fff}
.main-menu li a:hover,.main-menu li a.active{color:#ea414d}

.main-menu li.free-demo a{ background: #ea414d; color: #fff; /*border-radius: 26px;*/ box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13); }
.main-menu ul li.free-demo a:hover{ background:#2ba9d9}

/*Banner*/
.banner-outer{ background: url(/imgs/front/banner-bg.jpg) 0 0 no-repeat; min-height:500px; position:relative; background-size:cover;overflow:hidden}
.banner-txt-wrap{  padding-top: 130px; text-align: center; margin: 0 auto; position:relative; z-index:12}
.banner-top-txt .slogan{font-family: 'oreganoregular'; font-weight: 400; font-size: 30px; line-height: 100%; color: #fff; display: block; margin: 25px 0 40px;;}
.banner-top-txt p{  color: #fff; font-size: 23px; font-weight: bold; line-height: 35px;}
.bannerphn-img{ position:absolute; bottom:-20px; right:15%; z-index:10;}
.app-link{ margin-top: 50px;}
.app-link ul li{ list-style:none; display: inline-block; margin-right: 20px;}
.app-link ul li:last-child{ margin-right:0}
.app-link ul li a{ background: #ffffff; border-radius: 4px; padding: 10px 15px; display: block; box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13); transition:all ease-in-out .2s}
.app-link ul li a:hover{ opacity:.50}
.app-link ul li a > span{ display: inline-block;vertical-align: middle;}
.app-link ul li a span.img{ margin-right:10px;}
.app-link ul li a span.txt span{ display: block; text-align:left}
.app-link ul li a span.txt span.light{ color:#565656; font-weight:400; font-size:14px; line-height:100%;
}
.app-link ul li a span.txt span.bold{ color:#181818; font-weight:bold; font-size:24px}

/*about patest*/
.section1{ background:#fff; padding:50px 0}
.about-data{ margin-top:100px;}
.video-btn{ margin-top:40px}
.video-btn a{ background: #ea414d; color: #fff; border-radius: 26px; box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13); display:inline-block; padding:10px 25px; font-weight:bold; font-size:24px;transition:all ease-in-out .2s}
.video-btn a:hover{ background:#2ba9d9}

/*Features*/
.feastures-section{ background:#fff;padding-top:50px}
.feastures-section h2{ font-weight: 300; color: #000; margin-bottom: 20px;}
.heading-txt{ text-align:center}
.heading-txt .curly-txt{ color:#333333; display: inline-block; font-size:40px; line-height:100%;font-family: 'oreganoregular'; position:relative; min-width:150px; margin-bottom:15px;}
.heading-txt .curly-txt:after,.heading-txt .curly-txt:before{ position:absolute; top:50%; margin-top:3px; width:130px; height:2px; background:#a1a1a1; content:''}
.heading-txt .curly-txt:after{right:-130px}
.heading-txt .curly-txt:before{left:-130px}
.heading-txt p{ color:#000000}

.features-category{ padding:50px 0 30px 0;}
.feastures-section ul li{ list-style:none; margin-bottom:20px;}
.featureWrap{ cursor:pointer}
.featureWrap > div{ display:table-cell; vertical-align:middle;}
.featureWrap div.icon{ width:70px; height:70px; border-radius:100%; border:2px solid #9b9b9b; text-align:center; overflow:hidden; transition:all ease-in-out .5s}
.featureWrap div.icon:hover{ transform:rotate(360deg); border-color:#1b71c2}
.featureWrap div.icon img{ height:36px; width:auto;}
.featureWrap div.txt{ font-size:18px; font-weight:bold; color:#000; line-height:130%; text-transform:uppercase; padding-left:20px; text-align:left}
.iphone-img{ margin:0 auto; text-align:center}
.iphone-img img{ max-width:80%}
/*app-section*/
.app-section{ background:#fff; text-align: center; padding-bottom: 50px;}
.app-bg{ background:url(/imgs/front/app-bg.jpg) 0 0 no-repeat; background-size:cover; min-height:502px; position:relative}
.app-img{ position:absolute; bottom:0; right:0;}
.app-data{ }
.app-data h2{ font-weight: 300; color: #000; margin-bottom: 0px;}
.app-data h2 span{ position: relative;}
.app-data h2 span::before{ position: absolute; left: -100px; width: 80px; height: 1px; content: ""; background: #000;transform: translate(0%, -50%); top: 50%;}
.app-data h2 span::after{ position: absolute; right: -100px; width: 80px; height: 1px; content: ""; background: #000;transform: translate(0%, -50%); top: 50%;}
.app-data p{ color:#fff}
.app-data .app-link ul li a{ /*background:#000;*/ color:#fff;}
.app-data .app-link ul li a span.txt span.light,.app-data .app-link ul li a span.txt span.bold{ color:#fff}
.app-data .app-link > span{ font-size:29px; font-weight:400; color:#fff; display:block; margin-bottom:5px}
.app-img > img{ width:94%; float:right}
/*footer*/
.footer{ background:#eaedf2; padding:20px 0 40px 0}
.footer-link{ padding-top:5px;}
.footer-link li { list-style:none; display:inline-block}
.footer-link li a{ font-size:15px; font-weight:bold; color:#333; padding:15px; display:block; text-transform:uppercase}
.footer-link li:last-child a{ padding-right:0; transition:all ease-in-out .2s}
.footer-link li a:hover{ color:#2ba9d9}
.footer-bottom { margin-top:15px; padding-top:25px; border-top:1px solid #ccc;}
.footer-bottom > div{ display:inline-block; vertical-align:middle}
.footer-bottom .copyright{ font-size:15px; font-weight:bold; color:#333; text-transform:uppercase; line-height: 32px;}
.footer-bottom .social-icons li.follow-txt span{ color:#55aae3; display:inline-block; margin-right:20px; font-weight:bold; font-size:15px;}
.footer-bottom .social-icons li{ list-style:none; display:inline-block; margin-right:6px;}
.footer-bottom .social-icons li:last-child{ margin-right:0;}
.footer-bottom .social-icons li a{ display:block; width:32px; height:32px; border-radius:100%; background:#000; color:#fff; font-size:18px; line-height:32px; text-align:center; transition:all ease-in-out .2s}
.footer-bottom .social-icons li a:hover{opacity:.50}
.footer-bottom .social-icons li.twitter a{ background:#5aa4d4}
.footer-bottom .social-icons li.facebook a{  background:#3c569a}
.footer-bottom .social-icons li.linkedin a{ background:#007bb6}
.footer-bottom .social-icons li.google a{ background:#ea391e}
.footer-bottom .social-icons li.youtube a{ background:#b4191e}


/*===menu icon ====== */
.menu-icon {display: none; max-width: 48px; background: #2BA9D9; margin-top:-50px; float: right; text-align: center; padding: 15px 8px; cursor: pointer; overflow: hidden; transition:all 0.3s; -webkit-transition:all 0.3s;}
.menu-icon.close-menu {}
.menu-icon span { display: block; width: 25px; height: 3px; background: #FFF; border-radius: 3px; -webkit-border-radius: 3px; position: relative; transition:all 0.3s; -webkit-transition:all 0.3s;}
.menu-icon  span:before, .menu-icon  span:after { display: block; width: 25px; height: 3px; content: ""; position: absolute; z-index: 2; background: #FFF; border-radius: 3px; -webkit-border-radius: 3px; transition:all 0.3s; -webkit-transition:all 0.3s;}
.menu-icon span:before { top: -7px;}
.menu-icon span:after { bottom: -7px;}
.menu-icon.close-menu span { left: -50px;}
.menu-icon.close-menu span:before { top: 0;  transform:rotate(-45deg); -webkit-transform:rotate(-45deg); left: 50px;}
.menu-icon.close-menu span:after { bottom: 0; transform:rotate(45deg); -webkit-transform:rotate(45deg); left: 50px;}

/*.owl-carousel .owl-item img { width:auto;}*/
.owl-nav > div{ width:60px; height:60px; border-radius:100%; background:#80cbe8; text-align:center}
.owl-next{ position:absolute;top:50%; right:-90px;}
.owl-prev{ position:absolute;top:50%; left:-90px;}
.owl-next i ,.owl-prev i{ font-size:30px; color:#fff; line-height:60px}

.msFeatures{padding:50px 0; text-align:center}
.msFeatures h2{text-align:center; font-weight:300; font-size: 40px; color: #000;}
.msFeatures .msfeaturesWrap{ margin-bottom:15px; text-align:center; cursor: pointer;}
.msFeatures .msfeaturesWrap .msfeaicon {width:100%; }
.msFeatures .msfeaturesWrap .msfeaicon .msfeaiconinner {width:100%; position: relative; overflow: hidden;}
.msFeatures .msfeaturesWrap:hover .msfeaicon .msfeaiconinner::after {width:100%; position: absolute; background:rgba(24,113,194,0.7); height: 100%; content: "";top: 0; left: 0;}

.msFeatures .msfeaturesWrap .msfeaicon img {width:100%;-webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
.msFeatures .msfeaturesWrap:hover .msfeaicon img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
.msfeadesc{ margin-top:10px; text-align: left; display: table;}
.msfeadesc .msfeadesc-lefticon{ border-right: 1px solid #675f58; padding-right: 10px;display: table-cell; vertical-align: middle; width: 60px;}
.msfeadesc .msfeadesc-lefticon span{}
.msfeadesc .msfeadesc-pl{ float: right; padding-left: 10px;}
.msfeadesc h3{ font-size:17px; color:#393939; font-weight:700; line-height:100%; margin:0px;}
.msFeatures .msfeaturesWrap:hover .msfeadesc h3 { color: rgba(24,113,194,1);}
.msfeadesc p{ color:#666666; font-size: 15px;margin-top: 10px;}
.msfeadesc a{ color:#ea414d; text-decoration:underline; text-transform: capitalize; display:block; margin-top:15px;}
.msfeadesc a:hover{ color:#2ba9d9}

.school-mgWrap{min-height:640px; position:relative; padding:45px 0; /*border-bottom:1px solid #d6d6d6;*/ }
#schoolmanagement{ /*background:url(/imgs/front/school-mg-bg.png) right 0 no-repeat;background-size:cover*/background: rgba(241, 241, 241, 0.57); position: relative;}
#TeachersFaculty{ /*background:url(/imgs/front/teacherstbg.png) bottom left no-repeat;background-size:cover*/}
#StudentsParents{ /*background:url(/imgs/front/teacherparentsbg.png) right 0 no-repeat;background-size:cover*/ background: rgba(241, 241, 241, 0.57); position: relative;}
#schoolmanagement h2{ font-weight:300; color:#1b71c2; margin-bottom:20px}
#TeachersFaculty h2{ font-weight:300; color:#ea414d; margin-bottom:20px}
#StudentsParents h2{ font-weight:300; color:#85379c; margin-bottom:20px}


#schoolmanagement .view-btn{ display:block; text-align:center; background:transparent;border:1px solid #1b71c2; color:#1b71c2; font-weight:400; padding:15px 0;transition:all ease-in-out .5s}
#schoolmanagement .view-btn:hover{ color:#fff; border-color:#1b71c2; background: #1b71c2;}
#TeachersFaculty .view-btn{ display:block; text-align:center; background:transparent;border:1px solid #ea414d; color:#ea414d; font-weight:400; padding:15px 0;transition:all ease-in-out .5s}
#TeachersFaculty .view-btn:hover{ color:#fff; border-color:#ea414d; background: #ea414d;}
#StudentsParents .view-btn{ display:block; text-align:center; background:transparent;border:1px solid #85379c; color:#85379c; font-weight:400; padding:15px 0;transition:all ease-in-out .5s}
#StudentsParents .view-btn:hover{ color:#fff; border-color:#85379c; background: #85379c;}

/*#StudentsParents:before{ background:url(/imgs/front/school-mg-topbg.png)0 0 no-repeat; content:''; height:17px; width:100%; position:absolute; top:0; background-size:cover}
#StudentsParents:after{ background:url(/imgs/front/school-mg-bottombg.png)0 0 no-repeat; content:''; height:17px; width:100%; position:absolute; bottom:-17px;background-size:cover}*/

.schoolmanagement-img { width: 100%; float: left; position: relative;}
.schoolmanagement-img img { width: 100%; position: relative; z-index: 1;}
.schoolmanagement-img::before { position: absolute; content: ""; width: 50%; height: 50%; right: -20px; bottom: -20px; background: #1b71c2;}

.TeachersFaculty-img { width: 100%; float: left; position: relative;}
.TeachersFaculty-img img { width: 100%; position: relative; z-index: 1;}
.TeachersFaculty-img::before { position: absolute; content: ""; width: 50%; height: 50%; left: -20px; bottom: -20px; background: #ea414d;}

.StudentsParents-img { width: 100%; float: left; position: relative;}
.StudentsParents-img img { width: 100%; position: relative; z-index: 1;}
.StudentsParents-img::before { position: absolute; content: ""; width: 50%; height: 50%; right: -20px; bottom: -20px; background: #85379c;}

/*.school-mgWrap:before{ background:url(/imgs/front/school-mg-topbg.png)0 0 no-repeat; content:''; height:17px; width:100%; position:absolute; top:0; background-size:cover}
.school-mgWrap:after{ background:url(/imgs/front/school-mg-bottombg.png)0 0 no-repeat; content:''; height:17px; width:100%; position:absolute; bottom:-17px;background-size:cover}*/
.school-mgData h3{ font-size:22px; color:#000; font-weight:400; margin-bottom:15px; line-height:100%;}
.school-mgData h4{  font-size:18px; color:#000; line-height:120%; margin-bottom:15px;font-weight:400;}
.school-mgData p{ font-weight:400;font-size: 16px;}
.school-mgData ul{ margin-top:30px}
.school-mgData ul li{ list-style:none; display:inline-block;margin-bottom:35px; text-align:center; width:32%; vertical-align:top; position:relative; z-index:90;}
.school-mgData ul li:after{ content:''; display:block; width:1px; height:100px; position:absolute; right:-1px; background:#bdbdbd;top:10px; z-index:99;}
#TeachersFaculty .school-mgData ul li:after{ right:0}
.school-mgData ul li:nth-child(3n):after{ display:none}
.school-mgData ul li:last-child:after{ display:none}
.school-mgData ul li a{ color:#000000; font-weight:400; display:block;padding:0 10px; transition:all ease-in-out .5s}

.school-mgData ul li a .img img{ height:40px; width:auto;transition:all ease-in-out .5s}
.school-mgData ul li a .txt{ margin-top:12px; font-size: 15px;}
.school-mgData ul li a:hover{ color:#1b71c2}
.school-mgData ul li a:hover .img img{transform:scale(1.5,1.5)}
.school-mgData .view-btnWrap{ max-width:150px; margin:0 auto}

/*login page*/
.login-bg{ background:url(/imgs/front/login-bg.jpg) right 0 no-repeat; min-height:540px; background-size:cover;}
.loginContent{ /*padding-top:70px;*/ text-align:center; font-size:16px; font-weight:400; color:#fff}
.loginContent h2{ color:#fff; /*text-transform:uppercase;*/ font-weight:300; text-align:center; font-size: 32px; line-height: 50px;}
.loginContent .form-control{ box-shadow:none; border-radius:5px; height:54px; font-size:16px; color:#333333; font-weight:400; padding:6px 25px;border:none;-webkit-appearance: none;-moz-appearance: none;text-indent: 1px;   text-overflow: '';}
.loginContent .form-control:focus{box-shadow:none; border:none;}
.loginContent .form-group{ margin-bottom:25px;}
.orange-btn{ background:#ea414d; width:100%; border-radius:5px;border:none; box-shadow:none; text-transform:uppercase; padding:15px 0; font-size:20px; line-height:100%; transition:all ease-in-out .3s; height: auto;}
.orange-btn:hover{ background:#2ba9d9; color:#fff}
a.forgotpass{ color:#fff; text-decoration:underline}
a.forgotpass:hover{color:#2ba9d9;}

.form-group.chk{ position:relative; max-width:160px; margin:0 auto 25px;}
.form-group.chk input[type="checkbox"]{position:  absolute;z-index: 1;appearance: none;-webkit-appearance: none;-moz-appearance: none;opacity: 0;width: 100%;height: 17px;display: inline-block;margin: 0;left:0; max-width:160px; margin:0 auto; cursor:pointer}
.form-group.chk label{
  padding-left: 30px;
  position: relative;
  z-index: 0;
  background: url(/imgs/front/chk.png) 0 0 no-repeat;
  display: block;
  min-height: 17px;
  min-width: 19px;
  color: #fff;
  font-weight:400;
  line-height: 100%;

}
.form-group.chk input[type="checkbox"]:checked + label{
  background: url(/imgs/front/chk-tick.png) 0 0 no-repeat;
}
.errorMsg{ display: block; color: red; margin: 5px 5px 5px 25px; text-align: left}

/*Contact page*/

.loginContent.contactpage{ /*padding:50px 0; */text-align:center}
.contactpage textarea.form-control{ resize:none; height:100px;}
.contactpage .form-group.selectgrp{ position:relative}
.contactpage .form-group.selectgrp:after{ width: 0; height: 0; border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #000; content:''; position: absolute;right:15px; top:25px}
.contact-bg{background:url(/imgs/front/contact_bg.jpg) 0 0 no-repeat; min-height:500px; background-size:cover;padding:50px 0;}
.contact-bg .container{ /*max-width:1000px; width:100%;*/ margin:0 auto}
.contactpage .form-group.selectgrp{ position:relative; z-index:9; background:#fff; border-radius:5px;}
.contactpage .form-group.selectgrp select{ background:none; position:relative; z-index:99; cursor:pointer}
.contactpage .form-group.selectgrp .errorMsg{ position: absolute;}

.br-contact {border-right: 1px solid #616161;}

.contact-address { /*padding:50px 0;*/ text-align:left; }
.contact-address .ca-box { color: #fff;}
.contact-address .ca-box h2 {
  color: #fff;
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 20px;
}
.contact-address .ca-box a { color: #fff;}
.contact-address .ca-box ul { padding: 0px; font-size: 17px;}
.contact-address .ca-box ul li { display: block; line-height: 25px; margin-bottom: 10px;}
.contact-address .ca-box ul li .fa-icon { float: left; width: 30px;}
.contact-address .ca-box ul li .ca-text { margin-left: 30px;}

.ca-social { margin-top: 30px;}
.ca-social a {
  font-size: 22px;
  border: 1px solid #fff; width: 40px; height: 40px; text-align: center; line-height: 40px; border-radius: 40px; margin-right: 10px; display: inline-block; opacity: 0.7;
}
.ca-social a:hover {
   opacity: 1;
}



.blog-bg{background:url(/imgs/front/blog-banner.jpg) 0 0 no-repeat; background-size:cover; position: relative; min-height: 250px;}
.blog-bg .banner-heading { position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%,-50%); width: 100%;}
.blog-bg .banner-heading  h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 50px; margin: 0px;
}

.about-bg{background:url(/imgs/front/about-banner.jpg) 0 0 no-repeat; background-size:cover; position: relative; min-height: 250px;}
.about-bg .banner-heading { position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%,-50%); width: 100%;}
.about-bg .banner-heading  h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 50px; margin: 0px;
}


.gitex-bg{}
.gitex-bg img {width: 100%;}

.partner-bg{background:url(/imgs/front/partner-banner.jpg) 0 0 no-repeat; background-size:cover; position: relative; min-height: 250px;}
.partner-bg .banner-heading { position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%,-50%); width: 100%;}
.partner-bg .banner-heading  h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 50px; margin: 0px;
}

.privacy-bg{background:url(/imgs/front/privacy-banner.jpg) 0 0 no-repeat; background-size:cover; position: relative; min-height: 250px;}
.privacy-bg .banner-heading { position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%,-50%); width: 100%;}
.privacy-bg .banner-heading  h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 50px; margin: 0px;
}

.terms-bg{background:url(/imgs/front/terms-banner.jpg) 0 0 no-repeat; background-size:cover; position: relative; min-height: 250px;}
.terms-bg .banner-heading { position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%,-50%); width: 100%;}
.terms-bg .banner-heading  h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 50px; margin: 0px;
}

.content-section {
  background: #fff; padding: 50px 0px; text-align: left; line-height: 25px;
}
.content-section h3 { font-size: 24px; color: #ea414d; font-weight: 700; margin-bottom: 10px;}
.content-section h4 { font-size: 22px; color: #ea414d; font-weight: 700; margin-bottom: 20px;}
.content-section h5 { font-size: 20px; color: #151515; font-weight: 700; margin-bottom: 20px;}
.content-section h6 { font-size: 18px; color: #1b71c2; font-weight: 700; margin-bottom: 3px;}
.content-section p {font-size: 16px; color: #151515; margin-bottom: 20px; text-align: justify;}

.terms-section {}
.terms-section h3 { margin-top: 20px; margin-bottom: 5px;}
.terms-section p {margin-bottom: 10px;}

/*---------------blog----------------*/
.blog-post {
    width: 100%;
    margin: 0 0 60px;
    clear: both;
    -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
}
.blog-post .bp-image {margin-bottom: 34px; position: relative; overflow: hidden;}
.blog-post .bp-image img { width: 100%;-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.blog-post:hover .bp-image img {-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);}

.blog-post:hover .bp-image::after {
  content: "";
  position: absolute;
  background: rgba(27, 113, 194, 0.53);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}
.blog-post:hover .bp-image::before {
  content: "\f0c1";
  position: absolute;
  font: normal normal normal 32px/1 FontAwesome;
  left: 50%;
  top: 50%;
  color: #333;
  z-index: 99;
  background: #fff;
  width: 60px;
  height: 60px;
  line-height: 67px;
  text-align: center;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}




.blog-post .bp-content {}
.blog-post .bp-content h3 { color: #333; font-weight: 700; font-size: 33px;}
.blog-post:hover h3 { color: rgba(27, 113, 194, 1);}
.blog-post .bp-content > ul { padding: 0px; margin: 15px 0px 20px;}
.blog-post .bp-content > ul > li { display: inline-block; font-size: 14px; color: #b9b9b9; font-weight: 700; margin-right: 5px;}
.blog-post .bp-content > ul > li i { padding-right: 4px;}
.blog-post .bp-content .bp-text { text-align: justify;}
.blog-post .bp-content .bp-footer { border-top: 1px solid #ccc; padding-top: 15px; margin-top: 20px;}
.blog-post .bp-content .bp-footer .readmore {float: left;
    background: #ea414d;
    color: #fff;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13);
    font-size: 17px;
    font-weight: bold;
    transition: all ease-in-out .1s;
    text-transform: uppercase;
    display: block;
    padding: 10px 16px;}
.blog-post .bp-content .bp-footer ul.bp-social-icons { padding: 0px; text-align: right;}
.blog-post .bp-content .bp-footer ul.bp-social-icons li { display: inline-block;}
.blog-post .bp-content .bp-footer ul.bp-social-icons li.share-txt span {
    color: #333;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}
.blog-post .bp-content .bp-footer ul.bp-social-icons li a { color: #fff;font-size: 17px;font-weight: bold;transition: all ease-in-out .1s;text-transform: uppercase;display: block; padding: 10px 0px; width: 44px; text-align: center;}
.blog-post .bp-content .bp-footer ul.bp-social-icons li a:hover{opacity:.50}
.blog-post .bp-content .bp-footer ul.bp-social-icons li.twitter a{ background:#5aa4d4}
.blog-post .bp-content .bp-footer ul.bp-social-icons li.facebook a{  background:#3c569a}
.blog-post .bp-content .bp-footer ul.bp-social-icons li.linkedin a{ background:#007bb6}
.blog-post .bp-content .bp-footer ul.bp-social-icons li.google a{ background:#ea391e}
.blog-post .bp-content .bp-footer ul.bp-social-icons li.youtube a{ background:#b4191e}

.bp-pagination {
    width: 100%;
    vertical-align: middle;
    margin: 0 0 30px;
    clear: both;
}
.bp-pagination ul {
    width: 100%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.bp-pagination ul li {
    vertical-align: top;
    margin: 0 6px;
    display: inline-block;
position: relative;
}
.bp-pagination ul li.bp-next {
  top: -3px;
  margin: 0;
  left: 10px;
}
.bp-pagination ul li a.bp-active {
    color: #ea414d;
}
.bp-pagination ul li a {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ababab;
}
.bp-pagination ul li.bp-next a {
    font-size: 23px;
}

.sidebar-right-border {
    border-left: 1px solid #ebebeb;
}

/*-----------------sidebar-section------------*/
.sidebar-section {width: 100%;clear: both;}
.sidebar-section .sidebar-widget {width: 100%;margin: 0 0 60px;clear: both;}
.sidebar-section .sidebar-widget .widget-heading {}
.sidebar-section .sidebar-widget .widget-heading h4 {color: #333; font-weight: 700; font-size: 24px; margin-bottom: 15px;}
.sidebar-section .sidebar-widget ul.sidebar-categories { padding: 0px;}
.sidebar-section .sidebar-widget ul.sidebar-categories li { display: block; font-size: 18px;padding: 9px 0 9px 15px;border-bottom: 1px solid #ebebeb; position: relative;}
.sidebar-section .sidebar-widget ul.sidebar-categories li:before {content: "\f0da"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; color: #ea414d; position: absolute;left: 0; top: 15px;}
.sidebar-section .sidebar-widget ul.sidebar-categories li a { color: #333;}

.sidebar-section .sidebar-widget ul.sidebar-rc { padding: 0px;}
.sidebar-section .sidebar-widget ul.sidebar-rc li { display: block; padding: 9px 0;border-bottom: 1px solid #ebebeb; position: relative;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image { overflow: hidden;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image .sc-image { float: left; width: 80px; overflow: hidden;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image .sc-image img {width: 100%; margin-right: 10px;-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image:hover .sc-image img { -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image .sc-content { padding-left: 100px;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image .sc-content h5 { margin-bottom: 10px; color: #000; font-size: 16px; font-weight: 700; line-height: 20px;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image:hover .sc-content h5 { color: #ea414d;}
.sidebar-section .sidebar-widget ul.sidebar-rc li .sc-with-image .sc-content p { color: #333; font-size: 14px; }

/*-----------apply-form----------------*/
.apply-form {background:url(/imgs/front/applt-form-bg.jpg) 0 0 no-repeat; background-size:cover; padding: 20px; text-align: center;box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13);}
.apply-form h4 {color: #fff; font-weight: 400; font-size: 22px; margin-bottom: 15px;}
.apply-form .form-row { width: 100%; clear: both; margin-bottom: 10px; text-align: left;}
.apply-form .form-row label { width: 100%; color: #fff; font-weight: 300; font-size: 16px; margin-bottom: 5px;}
.apply-form .form-row input {
  width: 100%;
  box-shadow: none;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  padding: 12px 13px;
  border: none;
  text-indent: 1px;
}
.apply-form .form-row select {
  width: 100%;
  box-shadow: none;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  padding: 12px 13px;
  border: none;
  text-indent: 1px;
  background:url(/imgs/front/select-arrow.png) 96% center no-repeat #fff;
}
.apply-form .form-row input[type="submit"] {
  width: 100%;
  box-shadow: none;
  border-radius: 5px;
  font-size: 17px;
  background: #ea414d;
  color: #fff;
  font-weight: 700;
  padding: 12px 13px;
  border: none;
  text-indent: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}



/*------ie---------*/
select {-ms-appearance: none !important;}

select::-ms-expand {
    display: none;
}
select
{
    appearance: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    -ms-appearance:none; /* ie */
}

/*------------feature section-------*/
.feature-box { width: 100%; clear: both; position: relative; overflow: hidden; cursor: pointer; margin-bottom: 30px;height: 287px;}
.feature-box > img { width: 100%;}
.feature-box .feature-box-detail { width: 100%; position: absolute; color: #fff; font-size: 18px; /*display: none;*/ height: 100%;}
/*.feature-box:hover .feature-box-detail { display: block; z-index: 1;}*/
.feature-box .feature-box-detail ul { padding: 0px;}
.feature-box .feature-box-detail ul li { padding: 5px 30px 5px 20px; margin:0;}
.feature-box .feature-box-detail ul li:first-child { border-top: 0px; margin-top: 10px;}
.feature-box .feature-box-detail ul li:last-child { border-bottom: 0px;}
.feature-box .feature-box-detail ul li img { margin-right: 5px;}
.feature-box .feature-box-detail .fbd-bg-icon { position: absolute; bottom: 50px; right: 10px; }
.feature-box .feature-box-detail .fbd-footer { font-size: 14px; text-transform: uppercase; color: #fff; position: absolute; bottom: 0; width: 100%; padding: 5px 30px 5px 20px; height: 30px;}
.feature-box .feature-box-detail .fbd-footer span{ position: relative;}
.feature-box .feature-box-detail .fbd-footer span::after{ position: absolute; content: ""; border-left: 7px solid transparent; border-right: 7px solid transparent; top: -12px; left: 10px;}

.feature-box .fb-info { width: 100%; position: absolute; color: #fff; text-align: center; transform: translate(-50%, -50%); top: 50%; left: 50%;}
.feature-box .fb-info h5 { font-size: 40px; font-weight: 700; color: #fff; text-shadow: 2px 3.464px 5px rgba(0, 0, 0, 0.24); margin-top: 15px;}


.school-admin-feature-box {}
.school-admin-feature-box .feature-box-detail { background: #b165b6;}
.school-admin-feature-box .feature-box-detail ul li { border-top: 1px solid #c184c5; border-bottom: 1px solid #9f5ba3;}
.school-admin-feature-box .feature-box-detail .fbd-footer { background: #964e9b;}
.school-admin-feature-box .feature-box-detail .fbd-footer span::after{ border-bottom: 7px solid #964e9b;}

.teacher-feature-box {}
.teacher-feature-box .feature-box-detail { background: #f66872;}
.teacher-feature-box .feature-box-detail ul li { border-top: 1px solid #f8868e; border-bottom: 1px solid #dd5d66;}
.teacher-feature-box .feature-box-detail .fbd-footer { background: #cd5059;}
.teacher-feature-box .feature-box-detail .fbd-footer span::after{ border-bottom: 7px solid #cd5059;}

.parent-feature-box {}
.parent-feature-box .feature-box-detail { background: #7fb669;}
.parent-feature-box .feature-box-detail ul li { border-top: 1px solid #99c587; border-bottom: 1px solid #72a35e;}
.parent-feature-box .feature-box-detail .fbd-footer { background: #5c8f47;}
.parent-feature-box .feature-box-detail .fbd-footer span::after{ border-bottom: 7px solid #5c8f47;}

.student-feature-box {}
.student-feature-box .feature-box-detail { background: #dda443;}
.student-feature-box .feature-box-detail ul li { border-top: 1px solid #e4b669; border-bottom: 1px solid #c6933c;}
.student-feature-box .feature-box-detail .fbd-footer { background: #bf8b31;}
.student-feature-box .feature-box-detail .fbd-footer span::after{ border-bottom: 7px solid #bf8b31;}


/*----------------------arabic style css--------------------------*/
.front-rtl { direction: rtl;}
.front-rtl .banner-outer .col-md-6, .front-rtl .banner-outer .col-sm-6, .front-rtl .banner-outer .col-xs-12 { float: left;}
.front-rtl .school-mgWrap .col-md-6, .front-rtl .school-mgWrap .col-sm-8, .front-rtl .school-mgWrap .col-xs-12 { float: left;}
.front-rtl .app-section .col-md-6, .front-rtl .app-section .col-sm-6, .front-rtl .app-section .col-xs-12 { float: left;}
.front-rtl .login-bg .col-md-5, .front-rtl .login-bg .col-sm-7, .front-rtl .login-bg .col-xs-12 { float: left;}
.front-rtl #TeachersFaculty .school-mgData ul li:after { left: 0; right: auto;}
.front-rtl .school-mgData ul li:after { left: -1px; right: auto;}
.front-rtl .featureWrap div.txt { padding-left: 0; text-align: right; padding-right: 20px;}
.front-rtl .f_right { float: left;}
.front-rtl .contactpage .form-group.selectgrp:after { right: auto; left: 20px;}
.front-rtl .app-data { padding-right: 40px;}
.front-rtl .app-link ul li { margin-right: 0px; margin-left: 20px;}
.front-rtl .app-link ul li a { padding: 10px 10px;}
.front-rtl .app-link ul li a span.img { margin-right: 0px;}
.front-rtl .main-menu li a { padding: 10px 20px;}
.front-rtl .app-link ul li:last-child { margin-left: 0px;}
.front-rtl .msfeadesc .msfeadesc-lefticon { border-left: 1px solid #675f58; padding-left: 10px; border-right: 0px solid #675f58; padding-right: 0px;}
.front-rtl .msfeadesc .msfeadesc-pl { padding-left: 0px; padding-right: 10px; text-align: right;}
.front-rtl .feature-box .feature-box-detail .fbd-footer span::after { left: inherit; right: 10px;}



/*------------------*/


.front, .back{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; top:0;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.front {
  /*background-color: red;*/
}

.back {
  /*background-color: blue;*/
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.feature-box:hover .front {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);

}

.feature-box:hover .back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
}
/*----------*/



@media (max-width: 1199px){
  .front-rtl .app-link ul li { margin-left: 10px;}
}
@media (max-width: 992px){
.front-rtl .app-data {  padding-right: 20px;}
}
@media (max-width: 767px){
.front-rtl .menu.f_right { float: left;}
.main-menu { left: 0; right: 0; margin: 0 !important;}
}

.pl-0 { padding-left: 0px !important;}


.scrollTop {
  position: fixed;
  right: 30px;
  bottom: 32px;
  z-index: 99999;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
  background-color: #282828;
  border-radius: 90px;
  padding: 15.5px 20px 17.5px 20px;
  opacity: 0.7;
  transition: all 0.4s ease-in-out 0s;
  display: block;
}
.scrollTop a:hover {
  opacity: 1;
  background-color: #ea414d;
}
.border-bottom { border-bottom:1px solid #616161; margin-bottom: 20px;}
.lang-tab { margin-left: 10px;}
.lang-tab a { display: inline-block !important; background: #fff;padding-left: 8px !important;    padding-right: 8px !important; }
.lang-tab a:hover { color: #1b71c2 !important;}
.lang-tab a:first-child { /*border-radius: 50px 0px 0px 50px;*/ border:1px solid #1b71c2; }
.lang-tab a:last-child { /*border-radius: 0px 50px 50px 0px;*/ border:1px solid #1b71c2; }
.lang-tab .active { background: #009eb3; color: #fff !important;}
.lang-tab .active:hover { color: #fff !important;}

.front-rtl .lang-tab a:first-child { /*border-radius: 0px 50px 50px 0px;*/  }
.front-rtl .lang-tab a:last-child { /*border-radius: 50px 0px 0px 50px;*/  }


/*----------------------about----------------*/
.red-txt { color: #ea414d;}
.blue-txt { color: #1b71c2;}
.black-txt { color: #333333;}
.yellow-txt { color: #eb9e19;}
.white-txt { color: #fff;}
.pb-0 { padding-bottom: 0px !important;}
.mb-20 { margin-bottom: 20px !important;}
.mb-50 { margin-bottom: 50px !important;}
.mb-30 { margin-bottom: 30px !important;}
.fs-20 { font-size: 20px;}
.fs-40 { font-size: 40px;}
.fw-700 { font-weight: 700;}
.main-heading-red { text-align: center;}
.main-heading-red h3 { font-weight: 700; font-size: 50px; position: relative; border-bottom: 1px solid #efefef; padding-bottom: 22px; margin-bottom: 57px;}
.main-heading-red h3 span { display: block; color: #666666; font-weight: 300; font-size: 24px;}
.main-heading-red h3::after { content: ""; position: absolute; background:url(/imgs/front/heading-after-red.png); width: 200px; height: 46px; bottom: -33px; left: 50%; transform: translate(-50%, 0%);}
.main-heading-blue { text-align: center;}
.main-heading-blue h3 { font-weight: 700; font-size: 50px; position: relative; border-bottom: 1px solid #efefef; padding-bottom: 22px; margin-bottom: 57px;}
.main-heading-blue h3 span { display: block; color: #666666; font-weight: 300; font-size: 24px;}
.main-heading-blue h3::after { content: ""; position: absolute; background:url(/imgs/front/heading-after-blue.png); width: 200px; height: 46px; bottom: -33px; left: 50%; transform: translate(-50%, 0%);}
.main-heading-black { text-align: center;}
.main-heading-black h3 { font-weight: 700; font-size: 50px; position: relative; border-bottom: 1px solid #efefef; padding-bottom: 22px; margin-bottom: 57px;}
.main-heading-black h3 span { display: block; color: #666666; font-weight: 300; font-size: 24px;}
.main-heading-black h3::after { content: ""; position: absolute; background:url(/imgs/front/heading-after-black.png); width: 200px; height: 46px; bottom: -33px; left: 50%; transform: translate(-50%, 0%);}
.main-heading-yellow { text-align: center;}
.main-heading-yellow h3 { font-weight: 700; font-size: 50px; position: relative; border-bottom: 1px solid #474239; padding-bottom: 22px; margin-bottom: 57px;}
.main-heading-yellow h3 span { display: block; color: #fff; font-weight: 300; font-size: 24px;}
.main-heading-yellow h3::after { content: ""; position: absolute; background:url(/imgs/front/heading-after-yellow.png); width: 200px; height: 46px; bottom: -33px; left: 50%; transform: translate(-50%, 0%);}

.welcome-section {background: #fff; padding: 60px 0px; text-align: center;}
.welcome-section p { margin: 0px; color: #333333; font-size: 18px; line-height: 25px;}

.why-section { background:url(/imgs/front/pettern-bg.jpg) no-repeat center top; background-size: cover; padding: 60px 0px;}
.why-section .why-img { width: 100%; float: left; position: relative;}
.why-section .why-img img { width: 100%; position: relative; z-index: 1;}
.why-section .why-img::before { position: absolute; content: ""; width: 50%; height: 50%; left: -20px; bottom: -20px; background: #1b71c2;}
.why-section .why-txt { font-size: 17px; color: #333333; line-height: 25px;}
.why-section .why-txt p {}
.why-section .why-txt ul { padding: 0px; margin-top: 20px;}
.why-section .why-txt ul li { padding-left: 30px; margin-bottom: 9px; position: relative; display: block;}
.why-section .why-txt ul li:before { content: "\f05d";display: inline-block;font: normal normal normal 17px/1 FontAwesome;color: #1b71c2;position: absolute;left: 0;top: 4px;}

.testimonial-section { padding: 60px 0px;}
.testimonial-section .testimonial-txt { text-align: center; }
.testimonial-section .testimonial-txt ul { padding: 0px;}
.testimonial-section .testimonial-txt ul li{list-style: none;}
.testimonial-section .testimonial-txt .testimonial-box {text-align: center;}
.testimonial-section .testimonial-txt .testimonial-box p {color: #333333; line-height: 25px;}
.testimonial-section .testimonial-txt .testimonial-box .testimonial-img { width: 90px; margin: 30px auto 20px;}
.testimonial-section .testimonial-txt .testimonial-box .testimonial-img img { width: 100%; border-radius: 100px; border: 2px solid #333;}
.testimonial-section .testimonial-txt .testimonial-box .testimonial-name { color: #333333; font-weight: 700; font-size: 22px;}
.testimonial-section .testimonial-txt .testimonial-box .testimonial-designation { color: #666666; font-size: 18px;}
.testimonial-section .testimonial-txt .owl-nav > div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #737373;
  text-align: center;
  color: #fff;
  line-height: 36px;
  font-size: 28px;
}
.testimonial-section .testimonial-txt .owl-nav .owl-prev {
    left: 50%;
    margin-left: -110px;
    bottom: 100px !important;
    top: auto !important;
}
.testimonial-section .testimonial-txt .owl-nav .owl-next {
    right: 50%;
    margin-right: -110px;
    bottom: 100px !important;
    top: auto !important;
}

.award-section { background:url(/imgs/front/award-bg.jpg) no-repeat center top; background-size: cover; padding: 60px 0px 80px;}
.award-section .award-box { text-align: center; color: #ffffff; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-top: 80px; line-height: 36px;}
.award-section .award-box .stetic {color: #eb9e19; font-size: 36px;}
.award-section .award-box i {font-size: 80px; margin-bottom: 25px;}

.signup-section { padding: 140px 0px; text-align: center; color: #333333; line-height: 25px;}
.signup-section h4 { font-size: 50px; font-weight: 300; margin-bottom: 15px;}
.signup-section p { font-size: 18px;}
.signup-section .signup-form { width: 100%; max-width: 800px; margin: 25px auto; display: flex;}
.signup-section .signup-form input[type="text"] { width: 75%;
    border: solid 1px rgba(51, 51, 51, 0.3);
    border-radius: 3px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);    padding: 17px;
}
.signup-section .signup-form input[type="submit"] { width: calc(25% - 10px); margin-left: 10px;
    border-radius: 3px; color: #fff; font-size: 22px; text-transform: uppercase; text-align: center;
    background-color: rgb(27, 113, 194); border: none;    padding: 17px;
}

.faq-section { padding-bottom: 70px;}
.faq-section .nav-tabs {
    border-bottom: 1px solid rgb(234, 65, 77); margin-bottom: 20px;
}
.faq-section .nav-tabs>li {
    margin-bottom: -1px;
    width: 25%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.faq-section .nav-tabs>li>a {
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1.42857143;
    border: 1px solid rgb(234, 65, 77);
    border-radius: 5px;
    color: #000000;
}
.faq-section .nav-tabs>li.active {border-radius: 5px 5px 0px 0px;}
.faq-section .nav-tabs>li.active>a, .faq-section .nav-tabs>li.active>a:focus, .faq-section .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #ea414d;
    border: 1px solid #ea414d;
    padding-bottom: 20px;border-radius: 5px 5px 0px 0px;
}
.faq-section .panel-group {}
.faq-section .panel-group .panel-default { margin-bottom: 15px; border: none;}
.faq-section .panel-group .panel-default .panel-heading { background: #eaedf2; padding: 15px;}
.faq-section .panel-group .panel-default .panel-heading a { color: #000; font-size: 20px; display: block;}
.faq-section .panel-group .panel-default .panel-collapse {}
.faq-section .panel-group .open-panel { border: #1b71c2 1px solid; box-shadow: 1.5px 2.598px 6px 0px rgba(0, 0, 0, 0.26);}
.faq-section .panel-group .open-panel .panel-heading { background: none; }
.faq-section .panel-group .open-panel .panel-heading a { color: #1b71c2; text-decoration: none;}
.faq-section .panel-group .open-panel .panel-collapse { color: #000;}

.copy-logo { text-align: center; position: relative;}
.copy-logo .powered-text {
  font-style: normal;
  text-align: center;
  display: inline-block;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  color: #4a4a4a;
  font-size: 14px;
  max-width: 200px;
  width: 100%;
  margin: 8px auto 0;
  line-height: 14px;
  padding: 5px 0;
}
.copy-logo span {
  position: absolute;
  margin-left: -40px;
  margin-top: 15px;
}

/*--------------banefits------------*/
.benefit-box {
  background: #eaedf2;
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 70px 5px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  cursor: pointer;
}
.benefit-box .bb-front {
}
.benefit-box .bb-front img {
}
.benefit-box .bb-front h4 {
  font-size: 22px;
  color: #151515;
  font-weight: 600;
  margin-top: 30px;
}
.benefit-box .bb-back {
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(27,113,194,0.95);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.benefit-box .bb-back p {
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  display: table;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}
.benefit-box .bb-back p span {
  display: table-cell;
  vertical-align: middle;
}
.benefit-box:hover {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.benefit-box:hover .bb-back {
  opacity: 1;
}

/*-------------partner-section------------*/
.partner-section { background:url(/imgs/front/pettern-bg.jpg) no-repeat center top; background-size: cover; padding: 60px 0px;}
.partner-section .partner-form-section {}
.partner-section .partner-form-section .form-heading { border-bottom: 1px solid #ea414d; margin-top: 20px; margin-bottom: 40px;}
.partner-section .partner-form-section .form-heading .form-heading-text { margin-bottom: -15px;}
.partner-section .partner-form-section .form-heading .form-heading-text span { color: #ea414d; font-weight: 700; font-size: 22px; background: #fcfcfc; padding-right: 10px;}
.partner-section .partner-form-section div[class*="col-md"] { display: inline-block; float: none; margin-right: -3px; vertical-align: top;}
.partner-section .partner-form-section div[class*="col-md-12"] { display:block; float: left; margin-right: 0px; vertical-align: top; width: 100%;}
.partner-section .partner-form-section .partner-form { margin-bottom: 25px;}
.partner-section .partner-form-section .partner-form label { width: 100%; font-size: 18px; color: #333333; font-weight: 600; margin-bottom: 10px;}

.partner-section .partner-form-section .partner-form .errorMsg { width: 100%; font-size: 14px; color: #ff0000; font-weight: 400; margin: 0px;}
.partner-section .partner-form-section .partner-form input[type="text"] { width: 100%; background: #e7eaee; border: 0px; padding: 15px;border-radius: 5px;}
.partner-section .partner-form-section .partner-form .partner-select {width: 100%;position: relative;}
.partner-section .partner-form-section .partner-form .partner-select::after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    content: '';
    position: absolute;
    right: 15px;
    top: 25px;
}
.partner-section .partner-form-section .partner-form .partner-select select { width: 100%; background: #e7eaee; border: 0px; padding: 15px;border-radius: 5px;}
.partner-section .partner-form-section .partner-form textarea { width: 100%; background: #e7eaee; border: 0px; padding: 15px; resize: none; min-height: 110px;border-radius: 5px;}
.partner-section .partner-form-section .partner-form-button { width: 100%; text-align: center; margin-top: 10px;}
.partner-section .partner-form-section .partner-form-button input[type="submit"] { color: #ea414d; font-size: 26px; background: #fff; border: 1px solid #ea414d;padding: 8px 36px;}


/*-------------cta-section----ea414d-----------*/
.cta-section { background:#151515; /*height: 130px; overflow: hidden;*/ position: relative;}
.cta-section::before { content: ""; position: absolute; top: 0px; bottom: 0px; width: 50%; background: #ea414d;}
.cta-section .cta-content { background: #ea414d;font-size: 23px; line-height: 32px; font-weight: 300; color: #fff; padding: 33px 0px; position: relative; z-index: 3;}
.cta-section .cta-content::after { content: ""; position: absolute; top: 0px; bottom: 0px; right: -50px; bottom: 0px;background: #ea414d; width: 120px;
-ms-transform: skew(30deg,0deg); /* IE 9 */
    -webkit-transform: skew(30deg,0deg); /* Safari */
    transform: skew(30deg,0deg); /* Standard syntax */
/*border-top: 130px solid transparent;
border-bottom: 0px solid transparent;
border-left: 60px solid #ea414d;*/z-index:-1;
}
.cta-section .cta-btn { background: #151515; /*padding: 38px 0px;*/ text-align: right; position: relative; z-index: 1; display: table; width: 100%;}
.cta-section .cta-btn .cta-btn-cell { display: table-cell; vertical-align: middle;}
.cta-section .cta-btn a { color: #fff; font-size: 26px; background: #151515; border: 1px solid #fff; padding: 10px 15px; display: inline-block; cursor: pointer;}
.cta-section .cta-btn a:hover { color: #151515; background: #fff; border: 1px solid #151515;}
